
.mypic{
  border-radius: 50%;
  height:300px;
  width: 300px;

}
h2{
  font-size: 2.5rem;
   color:#66BFBF;
   font-weight: normal;
   padding-bottom: 10px;
}
.myskill{


    border-radius: 10%;
    width:25%;
    float: left;
    margin-right: 30px;


}
.skill2{

  border-radius: 10%;
  width:25%;
  margin-left: 30px;
  float: right;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  padding: 50px;
  padding-bottom: 0;
font-family: 'Sacramento', cursive;
color:#66BFBF;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
.middlecontainer{

}
.bottom-container{
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
p{
  line-height: 2;
}

.topcontainer{
  background-color: #A8ECE7;
  position: relative;
  padding: 100px;
  padding-bottom: 150px;
  margin-bottom: 50px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
 text-align: left;


}
.myintro{
  width: 300px;
  margin:auto;
}
hr{
  border: dotted #EAF6F6 6px;
  margin:100px auto ;
  width: 4%;
  border-bottom: none;

}
.contactme{
  width:30%;
  margin:40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;


  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



.bottom-cloud{
  position: absolute;
  right:1400px;
  top:500px;
}
.top-cloud{
  position: absolute;
  top:50px;
  right:500px;

}
.mymount{
  position: relative;
  top:100px;
}
a{
  color: #A8ECE7;
  margin:10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}
